<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Lifts</h1>

    <h2>My Lifts</h2>
    <p>View your recorded lifts below</p>
    <button><a href="/">Home</a></button>
    <button><a href="/newLift">New Lift</a></button>

    <p></p>
    <div class="lifts">
        <% lifts.forEach(lift => { %> <!-- Use EJS <% %> tags for logic -->
            <div class="lift">
                <h3>Name </h3>
                <h3><%= lift.name %></h3> 
                <p><%= lift.id %></p>  <!-- Use <%= %> to output values -->
                <h3>Weight</h3>
                <p><%= lift.weight %></p> 
                <h3>Reps</h3>
                <p><%= lift.reps %></p> 
                <h3>Sets</h3>
                <p><%= lift.sets %></p> 
                <h3>Date</h3>
                <h4><%= lift.date %></h4>
                <a href="/<%= lift.id %>/update">Update</a>
            </div>
        <% }); %> <!-- Close the forEach loop with <% %> -->
    </div>



</body>
</html>