<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lifts</h1>

    <h2>My Lifts</h2>
    <div>
        <% lifts.forEach(lift => { %> <!-- Use EJS <% %> tags for logic -->
            <div>
                <p><%= lift.id %></p>  <!-- Use <%= %> to output values -->
                <h3><%= lift.name %></h3> 
                <p><%= lift.weight %></p> 
                <p><%= lift.reps %></p> 
                <p><%= lift.sets %></p> 
                <h4><%= lift.date %></h4>
            </div>
        <% }); %> <!-- Close the forEach loop with <% %> -->
    </div>
</body>
</html>